@font-face {
  font-family: "Gelion";
  src:
    local("Gelion"),
    url("./font/gelion/gelion-regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
  font-family: "Gelion";
  src:
    local("Gelion"),
    url("./font/gelion/gelion-black.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
  font-family: "Gelion";
  src: url("./font/gelion/gelion-bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Gelion";
  src: url("./font/gelion/gelion-medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Gelion";
  src: url("./font/gelion/gelion-semibold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Gelion";
  src: url("./font/gelion/gelion-light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Gelion";
  src: url("./font/gelion/gelion-thin.ttf") format("truetype");
  font-weight: 200;
}

:root{
  --avantages-salaries-color: rgb(165 28 241);
  --bien-etre-color: rgb(255 32 85);
  --espace-color: rgb(60 234 255); 
  --formation-color: rgb(255 218 25);
  --juridique-color: rgb(255 141 64);
  --paie-color: rgb(228 10 175);
  --recrutement-color: rgb(51 109 255);
  --rse-color: rgb(176 232 54);
  --veille-rh-color: rgb(117 117 117);
  --entreprise-color: rgb(49 187 253);
  --all-events-color: rgb(49 187 253);
  --obligatoire-color: rgb(255 141 64);
  --conseil-color: rgb(255 218 25);
  --actualites-color: rgb(0 234 178);
  --thematiques-color: rgb(228 10 175);
  --events-color: rgb(0 234 178);
  --title-color: rgb(0 70 254);
  --main-color: rgb(0 44 82);
  --secondary-color: rgb(255 255 255);
  --accent-color: rgb(255 92 53);
  --light-color: rgb(201 207 211);
  --main-bg-color: rgb(255 255 255);
  --font-family: "Gelion", sans-serif;
}

/* Styles généraux */
body {
  background: var(--main-bg-color);
  color: var(--main-color);
  font-family: var(--font-family);
  position: relative;
}

body:has(.filter-section.active)::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--light-color);
  opacity: 0.5;
  z-index: 2000;
  pointer-events: none;
  /*transition: background-color 300ms ease-in-out;*/
}

/*body:has(.filter-section.active){
  overflow-y: hidden;
}*/

a{
  text-decoration: none;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 700;
  text-transform: capitalize;
}

.filter-col{
  width: 20%;
  flex: 2;
}

.calendar-col{
  flex-basis: 78%;
  flex: 7;
}

.filter-section {
  background-color: var(--main-bg-color);
  /*border-radius: 16px;*/
  top: 3rem;
  position: sticky;
}

.filter-category h4 {
  color: #fff;
  font-size: 1.1em;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

input[type=checkbox] {
  /*border-radius: 4px;*/
  height: 15px;
  width: 15px;
  /*background: transparent;*/
  border: 1px solid var(--main-color);
  border-radius: 16px;
}

label{
  opacity: 0.5;
}

label:has(input:checked){
  opacity: 1;
  font-weight: 700;
}

.filter-group {
  font-size: 14px;
  font-weight: 500;
}

.filter-group label{
  display: flex;
  align-items: center;
}

.filter-group.formation:has(input:checked){
  color: var(--formation-color);
}

.filter-group.formation input:checked{
  background-color: var(--formation-color);
  border-color: var(--formation-color);
}

.filter-group.avantages-salaries:has(input:checked){
  color: var(--avantages-salaries-color);
}

.filter-group.avantages-salaries input:checked{
  background-color: var(--avantages-salaries-color);
  border-color: var(--avantages-salaries-color);
}

.filter-group.bien-etre:has(input:checked){
  color: var(--bien-etre-color);
}

.filter-group.bien-etre input:checked{
  background-color: var(--bien-etre-color);
  border-color: var(--bien-etre-color);
}

.filter-group.espace:has(input:checked){
  color: var(--espace-color);
}

.filter-group.espace input:checked{
  background-color: var(--espace-color);
  border-color: var(--espace-color);
}

.filter-group.juridique:has(input:checked){
  color: var(--juridique-color);
}

.filter-group.juridique input:checked{
  background-color: var(--juridique-color);
  border-color: var(--juridique-color);
}

.filter-group.paie:has(input:checked){
  color: var(--paie-color);
}

.filter-group.paie input:checked{
  background-color: var(--paie-color);
  border-color: var(--paie-color);
}

.filter-group.recrutement:has(input:checked){
  color: var(--recrutement-color);
}

.filter-group.recrutement input:checked{
  background-color: var(--recrutement-color);
  border-color: var(--recrutement-color);
}

.filter-group.rse:has(input:checked){
  color: var(--rse-color);
}

.filter-group.rse input:checked{
  background-color: var(--rse-color);
  border-color: var(--rse-color);
}

.filter-group.veille-rh:has(input:checked){
  color: var(--veille-rh-color);
}

.filter-group.veille-rh input:checked{
  background-color: var(--veille-rh-color);
  border-color: var(--veille-rh-color);
}

.filter-group.entreprise:has(input:checked){
  color: var(--entreprise-color);
}

.filter-group.entreprise input:checked{
  background-color: var(--entreprise-color);
  border-color: var(--entreprise-color);
}

.filter-group.all-events:has(input:checked){
  color: var(--all-events-color);
}

.filter-group.all-events input:checked{
  background-color: var(--all-events-color);
  border-color: var(--all-events-color);
}

.filter-group.obligatoire:has(input:checked){
  color: var(--obligatoire-color);
}

.filter-group.obligatoire input:checked{
  background-color: var(--obligatoire-color);
  border-color: var(--obligatoire-color);
}

.filter-group.conseil:has(input:checked){
  color: var(--conseil-color);
}

.filter-group.conseil input:checked{
  background-color: var(--conseil-color);
  border-color: var(--conseil-color);
}

.filter-group.actualites:has(input:checked){
  color: var(--actualites-color);
}

.filter-group.actualites input:checked{
  background-color: var(--actualites-color);
  border-color: var(--actualites-color);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn.btn-outline-light{
  border : 1px solid var(--accent-color);
  border-radius: 50%;
  /*border: none;*/
  width: 55px;
  height: 55px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnIGlkPSJJY29uc194MkZfVWlfeDJGX0JvcmRlckxhcmdlX3gyRl9hcnJvdy1mb3J3YXJkIj4KCTxwb2x5Z29uIGlkPSJfeEQ4M0NfX3hERkE4Xy1JY29uLUZpbGwiIHN0eWxlPSJmaWxsOiNGRjVDMzU7IiBwb2ludHM9IjIxLjksMTIuNSAxMi4yLDIyLjIgMi41LDEyLjUgMy45LDExLjEgMTEuMiwxOC40IDExLjIsMS44IAoJCTEzLjIsMS44IDEzLjIsMTguNCAyMC41LDExLjEgCSIvPgo8L2c+Cjwvc3ZnPgo=);
  background-color: var(--main-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 31px;
  border-radius: 50%;
  transition: background-color .25s ease-out;
  cursor: pointer;
}

#prev-month.btn.btn-outline-light{
  transform: rotate(90deg);
}

#next-month.btn.btn-outline-light{
  transform: rotate(-90deg);
}

.btn.btn-outline-light:hover {
  background-color: var(--accent-color);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnIGlkPSJJY29uc194MkZfVWlfeDJGX0JvcmRlckxhcmdlX3gyRl9hcnJvdy1mb3J3YXJkIj4KCTxwb2x5Z29uIGlkPSJfeEQ4M0NfX3hERkE4Xy1JY29uLUZpbGwiIHN0eWxlPSJmaWxsOiNGRkZGRkY7IiBwb2ludHM9IjIxLjksMTIuNSAxMi4yLDIyLjIgMi41LDEyLjUgMy45LDExLjEgMTEuMiwxOC40IDExLjIsMS44IAoJCTEzLjIsMS44IDEzLjIsMTguNCAyMC41LDExLjEgCSIvPgo8L2c+Cjwvc3ZnPgo=);
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  /*background-image: linear-gradient(180deg, #000, var(--main-color));*/
  background-color: white;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.calendar-title {
  width: 100%;
}

.day {
  width: 14.285%;
  min-height: 7.5rem;
  /*border: 0.5px solid #444;*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
}

.day.disabled {
  background-color: #2f2f2f;
  color: #777;
}

.day.today {
  background-color: var(--light-color);
}

.eventsBlock {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.event {
  color: white;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1rem;
  white-space: nowrap;
  margin-bottom: 0.25rem;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 16px;
  text-wrap: wrap;
  overflow: hidden;
  width: 100%;
  /*word-break: break-all;*/
  hyphens: auto;
}

.event.avantages-salaries{
  background-color: var(--avantages-salaries-color);
}

.event.bien-etre {
  background-color: var(--bien-etre-color);
}

.event.espace{
  background-color: var(--espace-color);
  color: var(--main-color);
}

.event.formation {
  background-color: var(--formation-color);
  color: var(--main-color);
}

.event.juridique {
  background-color: var(--juridique-color);
  color: var(--main-color);
}

.event.paie{
  background-color: var(--juridique-color);
}

.event.paie{
  background-color: var(--paie-color);
}

.event.recrutement {
  background-color: var(--recrutement-color);
}

.event.rse {
  background-color: var(--rse-color);
  color: var(--main-color);
}

.event.veille-rh{
  background-color: var(--veille-rh-color);
}

/* Plus d'événements */
.more-events {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--light-color);
  color: var(--light-color);
  font-weight: bold;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

#all-events-mobile .more-events {
  border: 1px solid var(--main-bg-color);
  color: var(--main-bg-color);
}

.more-events:hover, .more-events.active{
  color: var(--main-color);
  border-color: var(--main-color);
}

#all-events-mobile .more-events:hover, #all-events-mobile .more-events.active{
  border: 1px solid var(--main-bg-color);
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

/* Ajustements spécifiques si nécessaire */
.bg-dark {
  background-color: #2f2f2f !important;
}

.row > * {
  padding-right: 0;
  padding-left: 0;
}

#calendar-days .col {
  border: .5px solid var(--light-color);
  position: relative;
  box-sizing: border-box; /* Assure que les bordures ne modifient pas la taille de la case */
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.5rem;
}

.day-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: .75rem;
}

.day-number{
  font-size: 21px;
  font-weight: 200;
  color: var(--accent-color);
}

.modal-content {
  color: var(--main-color);
}

#filters {
  padding: 10px;
}

.filter-group {
  margin-bottom: 10px;
}

.filter-group label {
  cursor: pointer;
}

.filter-group input {
  margin-right: 5px;
}

#calendar-days .col.disabled {
  /*color: #666;*/
  pointer-events: none; /* Désactive les clics sur les jours */
  /*border: 0.5px solid #666;*/
  opacity: 0.5;
}

.single-day {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 5px;
  margin-top: 2px;
  margin-inline: 15px;
  width: fit-content;
}

/* Style pour les jours de week-end */
/*.day.weekend:not(.day.today) {
  background: rgba(250, 250, 250, 0.05);
}*/

.row {
  margin-right: 0;
  margin-left: 0;
}

/*boutons accordion*/

.accordion-item{
  color: var(--main-color);
  background-color: transparent;
  border: none;
}

.accordion-item .accordion-button{
  transition-duration: .2s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  font-weight: 600;
  padding: 16px;
  border-radius: 16px;
  gap: .5rem;
  align-items: center;
  width: 100%;
  display: flex;
  box-shadow: none;
}

.accordion-item:first-of-type .accordion-button{
  border: 1px solid var(--accent-color);
  color: rgb(255 255 255);
  background-color: var(--accent-color);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.accordion-item:first-of-type .accordion-button.collapsed{
  color: var(--accent-color);
  background-color: transparent;
}

.accordion-item:first-of-type .accordion-button:hover, .accordion-item:first-of-type .accordion-button:active{
  color: rgb(255 255 255);
  background-color: var(--accent-color);
}

.accordion-item:nth-child(2) .accordion-button{
  border: 2px solid rgb(49 187 253);
  color: rgb(255 255 255);
  background-color: rgb(49 187 253);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

}

.accordion-item:nth-child(2) .accordion-button.collapsed{
  color: rgb(49 187 253);
  background-color: transparent;
  border: 2px solid rgb(49 187 253);
}

.accordion-item:nth-child(2) .accordion-button:hover, .accordion-item:nth-child(2) .accordion-button:active{
  color: rgb(255 255 255);
  background-color: rgb(49 187 253);
}

.accordion-item:nth-child(3) .accordion-button{
  border: 2px solid rgb(0 234 178);
  color: rgb(255 255 255);
  background-color: rgb(0 234 178);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.accordion-item:nth-child(3) .accordion-button.collapsed{
  color: rgb(0 234 178) ;
  background-color: transparent;
  border: 2px solid rgb(0 234 178);
}

.accordion-item:nth-child(3) .accordion-button:hover, .accordion-item:nth-child(3) .accordion-button:active{
  color: rgb(39, 39, 39);
  background-color: rgb(0 234 178);
  border: 2px solid rgb(0 234 178);
}

.accordion-item:last-of-type .accordion-button, .accordion-item:last-of-type .accordion-button.collapsed{
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.accordion-button:not(.collapsed)::after, .accordion-button.collapsed::after {
  background-image: none;
}

.accordion-item .accordion-button::before{
  width: 1rem;
  height: 1rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg class='w-4' viewBox='0 0 12 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1H1' stroke='%23fff' stroke-width='1.16667' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.accordion-item:nth-child(2) .accordion-button.collapsed::before{
  background-image: url("data:image/svg+xml,%3Csvg class='w-4' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1V11M11 6H1' stroke='%2331bbfd' stroke-width='1.16667' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.accordion-item:nth-child(3) .accordion-button.collapsed::before{
  background-image: url("data:image/svg+xml,%3Csvg class='w-4' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1V11M11 6H1' stroke='%2300eab2' stroke-width='1.16667' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.accordion-item:nth-child(3) .accordion-button.collapsed:hover::before{
  background-image: url("data:image/svg+xml,%3Csvg class='w-4' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1V11M11 6H1' stroke='%23272727' stroke-width='1.16667' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.accordion-item:nth-child(3) .accordion-button:hover::before{
  background-image: url("data:image/svg+xml,%3Csvg class='w-4' viewBox='0 0 12 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1H1' stroke='%23272727' stroke-width='1.16667' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.accordion-button.collapsed::before{
  width: 1rem;
  height: 1rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1V11M11 6H1' stroke='%23ff5c35' stroke-width='1.16667' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.accordion-item .accordion-button.collapsed:hover::before{
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1V11M11 6H1' stroke='%23fff' stroke-width='1.16667' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
}

.accordion-button svg{
  width: 1rem;
}

.cta-pills-outline {
  min-width: 55px;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border: 1px solid var(--accent-color);
  border-radius: 9999px;
  padding: 16px;
  font-size: 16px;
  line-height: 1.25rem;
  font-weight: 600;
  color: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  background-color: var(--accent-color);
}


.cta-pills-outline:hover {
  background-color: transparent;
  color: var(--accent-color);
}

.side-buttons{
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 1rem;
  width: 8rem;
  border-radius: 1rem;
}

.side-buttons a, #read-button a, .side-buttons button, #read-button button{
  font-weight: 600;
  border-radius: .75rem;
  width: 7rem;
  border: 1px solid transparent;
  color: var(--main-color);
  font-size: .75rem;
  transition: all 200ms ease-in-out;
}

#read-button a, #read-button button{
  border: 1px solid var(--main-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.side-buttons a i, .side-buttons button i{
  font-size: 2rem;
}

#read-button a i, #read-button button i{
  font-size: 1.5rem;
}

.side-buttons a:hover, .side-buttons button:hover{
  border-color: var(--main-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#read-button a:hover, #read-button button:hover{
  background-color: var(--main-color);
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.side-buttons button, #read-button button{
  background-color: transparent;
}

.modal-header{
  border-bottom: none;
}

span.avantages-salaries{
  background-color: var(--avantages-salaries-color);
}

span.bien-etre{
  background-color: var(--bien-etre-color);
}

span.espace{
  background-color: var(--espace-color);
  color: var(--main-color);
}

span.formation{
  background-color: var(--formation-color);
  color: var(--main-color);
}

span.juridique{
  background-color: var(--juridique-color);
  color: var(--main-color);
}

span.paie{
  background-color: var(--paie-color);
}

span.recrutement{
  background-color: var(--recrutement-color);
}

span.rse{
  background-color: var(--rse-color);
  color: var(--main-color);
}

span.veille-rh{
  background-color: var(--veille-rh-color);
}

span.all-companies, span.more-50, span.less-50{
  background-color: var(--entreprise-color)
}

span.all-events, span.obligatoire, span.conseil, span.actualites{
  background-color: var(--events-color);
  color: var(--main-color);
}

#allEventsBlock{
  position: absolute;
  top: 105%;
  left: 33%;
  background-color: var(--main-color);
  border-radius: 16px;
  padding: 16px;
  color: white;
  width: max-content;
  z-index: 1000;
}

#allEventsBlock:before {
  content: "";
  position: absolute;
  left: 26px;
  top: -26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  border-bottom: 13px solid var(--main-color);
}

.day-button{
  cursor: pointer;
}

#calendar-days .col.day-button:hover, #calendar-days .col.day-button.active, #calendar-days .col.day-button:focus{
  border: 1px solid var(--main-color);
}

.dropdown-header {
  font-size: 1rem;
  color: var(--title-color);
}

.dropdown-toggle::after {
  border-top: .3em solid var(--title-color);
  transition: transform 200ms ease-in-out;
  /*border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;*/
}

.dropdown-toggle.show::after{
  transform: rotate(-180deg);
}

a.current-month{
  color: var(--accent-color);
}

/*style pour les week-end, peut-être inutile...*/
@media screen and (min-width: 992px) {
  #calendar-days .day.col.weekend:not(.day.today) {
    background: rgba(201, 207, 211, 0.2); /* Une couleur de fond différente */
  }
}

@media screen and (max-width: 992px) {
  .event:not(#allEventsBlock .event){
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
  }

  .eventsBlock {
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .day-title {
    justify-content: center;
  }

  .day-label{
    display: none;
  }

  #calendar-days .col,  #calendar-days .col.disabled{
    border: 1px solid transparent;
  }

  #calendar-days{
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    row-gap: 1rem;
    column-gap: 2vw;
  }

  .calendar{
    background-image: none;
    box-shadow: none;
  }

  .day {
    min-height: 0;
    border-radius: .5rem;
  }

  #allEventsBlock{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 1rem;
  }

  #all-events-mobile{
    width: 100%;
  }

  .all-events-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn.btn-lg.dropdown-toggle{
    padding-inline : 0;
  }

  .btn.btn-lg.dropdown-toggle:hover h2, .btn.btn-lg.dropdown-toggle:focus h2{
    color: rgb(10,88,202);
  }

  .row.week{
    font-size: 14px;
  }

  h1{
    font-size: 38px;
  }

  .filter-section {
    top: 0;
    left: -100%;
    bottom: 0;
    position: absolute;
    width: 40%;
    height: 100%;
    background: linear-gradient(90deg, rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0.8) 100%);
    transition: left 400ms ease-in-out;
  }

  .filter-section.active{
    left: 0;
  }

  .filter-col{
    width: 0;
    flex: 0;
    z-index: 3000;
  }

  #filter-button{
    cursor: pointer;
    color: var(--title-color);
  }

  #filter-button:hover, #filter-button:focus{
    color: rgb(10,88,202);;
  }
}

@media screen and (max-width: 768px) {
  .btn.btn-outline-light{
    width: 40px;
    height: 40px;
  }

  .filter-section {
    width: 60%;
  }
}

@media screen and (max-width: 576px) {
  .filter-section {
    width: 80%;
  }
}

#addToCalendarModal{
  backdrop-filter: brightness(40%);
  z-index: 10000;
}

#addToCalendarModal .modal-content{
  padding: 3rem;
  /*width: max-content;*/
}

#addToCalendarModal .modal-body{
  margin-top: 1.5rem;
}

#addToCalendarModal .modal-body button{
  width: 300px;
}

#addToCalendarModal .modal-dialog{
  top: 20%;
}

#shareModal input{
  background-color: rgba(201, 207, 211, 0.2);
  border-radius: 16px;
  border: none;
  width: 35ch;
  padding: 1rem 1.5rem;
  pointer-events: none;
  display: inline;
  max-width: 100%;
}

#shareModal .modal-footer{
  border: none;
}

#shareModal .modal-footer button{

  min-width: 55px;
  min-height: 55px;

}

#shareModal .modal-content{
  margin: auto;
  max-width: 90vw;
  width: max-content;
  padding: 3rem;
}

#copy{
  background-color: transparent;
  color: var(--accent-color);
  padding-inline: 1.5rem;
}

#copy:hover, #copy:focus {
  background-color: var(--accent-color);
  color: white;
}